*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: url(robert-nelson-_7ijJz9nZmY-unsplash.jpg);
    background-position: center;
    background-size: cover ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card1{
    width: 19%;
    height: 40vh;
    max-width: 355px;
    color: #fff;
    text-align: center;
    padding: 20px 15px;
    border: 1px solid rgba(255,255,255,0.3);
    background: rgba(255,255,255,0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    backdrop-filter: blur(5px);
}
.card2{
    width: 19%;
    height: 40vh;
    max-width: 355px;
    color: #fff;
    text-align: center;
    padding: 30px 15px;
    border: 1px solid rgba(255,255,255,0.3);
    background: rgba(255,255,255,0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    backdrop-filter: blur(5px);
}
.card3{
    width: 19%;
    max-width: 355px;
    color: #fff;
    text-align: center;
    padding: 30px 15px;
    border: 1px solid rgba(255,255,255,0.3);
    background: rgba(255,255,255,0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    backdrop-filter: blur(5px);
}
.card4{
    width: 19%;
    max-width: 355px;
    color: #fff;
    text-align: center;
    padding: 30px 15px;
    border: 1px solid rgba(255,255,255,0.3);
    background: rgba(255,255,255,0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    backdrop-filter: blur(5px);
}







.card1 img{
    width: 80px;
    border-radius: 100%;
}
.card2 img{
    width: 80px;
    border-radius: 100%;

}
.card3 img{
    width: 80px;
    border-radius: 100%;

}
.card4 img{
    width: 80px;
    border-radius: 100%;
}
.card1 h2{
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
}
.card2 h2{
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
}
.card3 h2{
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
}
.card4 h2{
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
}

.card1 p{
    font-size: 12px;
    margin: 10px auto;
    max-width: 330px;
}
.card2 p{
    font-size: 12px;
    margin: 10px auto;
    max-width: 330px;
}
.card3 p{
    font-size: 12px;
    margin: 10px auto;
    max-width: 330px;
}
.card4 p{
    font-size: 12px;
    margin: 10px auto;
    max-width: 330px;
}



.card1 .links img{
    width: 30px;
    border-radius: 30%;
    margin: 10px 5px;
    transition: 0.5s;
}
.card2 .links img{
    width: 30px;
    border-radius: 30%;
    margin: 10px 5px;
    transition: 0.1s;
}.card3 .links img{
    width: 30px;
    border-radius: 30%;
    margin: 10px 5px;
    transition: 0.5s;
}.card4 .links img{
    width: 30px;
    border-radius: 30%;
    margin: 10px 5px;
    transition: 0.5s;
}

.card .links .img:hover{
    background: #ff01cf;
}
.btn{
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    background: rgb(1, 28, 5);
    color: white;
    padding: 10px 30px;
    border-radius: 30px;
    margin: 30px 0 10px;
}